<p>todo works!</p>

<button class="btn btn-primary" (click)="createTodo()" >Click To Create ToDo</button>

<div class="container">
    <table class="table">
        <thead>
         <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
         </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoList">
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="editTodo(todo)" >Edit</button>
                    <button type="button" class="btn btn-info" (click)="deleteTodo(todo.id)" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="showDeta()">SHow Data</button>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Id</th>
                <th>Title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of todoapidata">
                <td>{{data.userId}}</td>
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.completed}}</td>
            </tr>
        </tbody>
    </table>
</div>