<p>womens works!</p>

<div>
    <div class="col-md-12">

        <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShR2KRrOhngRiWqfDeSGxtuSfav-oN_KZqsA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual Dress</h5>
              <p class="card-text">Rs.1200</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="//cdn.shopify.com/s/files/1/1760/4649/products/anarkali-dress-admiral-blue-anarkali-dress-silk-saree-online-32648807088321.jpg?v=1657605542" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anarkali Dress</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="//img3.junaroad.com/uiproducts/18439167/zoom_0-1658320007.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Panjabi</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://images.meesho.com/images/products/159218644/8gfxd_256.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Party Dress</h5>
              <p class="card-text">Rs.999</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjDT_o4HJCsSu-J06O2TLy4oMQwCtD_3BiILiagvrOqz5w7eK35Mkb7RYEesZECYGhTFk&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Saree</h5>
              <p class="card-text">Rs.1700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiEZnI9o9TvmHEziDAPM8a2SvwC7HuBTKrEg&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dress</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMZi3W4WcRaTR_1KXtdi0_h-8T1Ey-D97EvQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">dress</h5>
              <p class="card-text">Rs.1300</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiEZnI9o9TvmHEziDAPM8a2SvwC7HuBTKrEg&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dress</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMZi3W4WcRaTR_1KXtdi0_h-8T1Ey-D97EvQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">dress</h5>
              <p class="card-text">Rs.1300</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="//cdn.shopify.com/s/files/1/1760/4649/products/anarkali-dress-admiral-blue-anarkali-dress-silk-saree-online-32648807088321.jpg?v=1657605542" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anarkali Dress</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShR2KRrOhngRiWqfDeSGxtuSfav-oN_KZqsA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual Dress</h5>
              <p class="card-text">Rs.1200</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="//img3.junaroad.com/uiproducts/18439167/zoom_0-1658320007.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Panjabi</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://images.meesho.com/images/products/159218644/8gfxd_256.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Party Dress</h5>
              <p class="card-text">Rs.999</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjDT_o4HJCsSu-J06O2TLy4oMQwCtD_3BiILiagvrOqz5w7eK35Mkb7RYEesZECYGhTFk&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Saree</h5>
              <p class="card-text">Rs.1700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

    </div>
  </div>