<p>home works!</p>

<input type="text">
<button class="btn btn-primary" (click)="createPost()">Create Post</button><br><br>
<button class="btn btn-success" (click)="getData()">Get Data</button>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of responceData">
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.content}}</td>
                <td><button class="btn btn-success">Edit</button><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

