<p>aboutus works!</p>

<h4>News Table</h4>
<div>
    <table class="table">
      <thead>
        <tr>
          <th>uuid</th>
          <th>title</th>
          <th>publisher</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of apiData.news">
          <td>{{i.uuid}}</td>
          <td>{{i.title}}</td>
          <td>{{i.publisher}}</td>
          <td>{{i.link}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Quotes Table</h4>

  <table class="table">
    <thead>
        <tr>
        <th>Exchange</th>
        <th>Short Name</th>
        <th>Symbol</th>
        <th>dispSecIndFlag</th>
        <th>exchDisp</th>
        <th>index</th>
        <th>industry</th>
        <th>isYahooFinance</th>
        <th>longname</th>
        <th>quoteType</th>
        <th>score</th>
        <th>sector</th>
        <th>typeDisp</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apiData.quotes">
            <td>{{data.exchange}}</td>
            <td>{{data.shortname}}</td>
            <td>{{data.symbol}}</td>
            <td>{{data.dispSecIndFlag}}</td>
            <td>{{data.exchDisp}}</td>
            <td>{{data.index}}</td>
            <td>{{data.industry}}</td>
            <td>{{data.isYahooFinance}}</td>
            <td>{{data.longname}}</td>
            <td>{{data.quoteType}}</td>
            <td>{{data.score}}</td>
            <td>{{data.sector}}</td>
            <td>{{data.typeDisp}}</td>
        </tr>
    </tbody>
</table>
