<p appCustom>orderlist works!</p>



  <div>
    <div class="col-md-12">

        <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOX6QS7pZv3HBQrN36cmaWlGxtOi-6eo-NCQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burgers</h5>
              <p class="card-text">Burger consisting of fillings—usually a patty of ground meat, typically beef—placed inside a sliced bun or bread roll.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsABvHVu9ELG6MJH46RFym1rpij1MvLIsj3Q&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pav Bhaji</h5>
              <p class="card-text">Pav bhaji is a fast food dish from India consisting of a thick vegetable curry served with a soft bread roll.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgAiQ_Qx9l3jVJyHYsAReNXEAMf3oQst3yjA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Biryani</h5>
              <p class="card-text">It is made with Indian spices, rice, and usually some type of meat, or in some cases without any meat.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuTn0kvA0gfPTVD3dLDXiL_SDQbgps1actA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paratha</h5>
              <p class="card-text">Paratha is an Indian flatbread served for breakfast. It is made with whole wheat flour aka atta.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrSodh2_bz3T_LLA16yP9WdpyAoAUkC5-TdA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chinese noodles</h5>
              <p class="card-text"> Boil noodles, when it's boiled ad some sesame oil. Cut chicken breast in small,Heat oil in Wok pan.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyRMZyizORJhYN8XYc2uSM9Hfk2yejxfGr7w&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pizza</h5>
              <p class="card-text">flat base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlIgWvh1tKJaaCyPs2gIF4VG9g-C69Kl7zMQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ice Cream</h5>
              <p class="card-text">Ice cream is typically made from milk or cream and flavoured with a sweetener, either sugar or an alternative.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7dqXaK2riLlrBY2k60ZhsKWMHILqQ2OE1xQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shabudana Wada</h5>
              <p class="card-text">It is often served with spicy green chutney and along with hot chai and is best eaten fresh.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFfLSe66HeZ08MqxPeoVC2OSCZf83AbszJ2w&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paneer Kathi Roll</h5>
              <p class="card-text">The stuffing is a lip-smacking paneer tikka made on skillet, a vibrant green chutney and a crunchy mixed veggie.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR90m9n1h0UQ0JZl8OVtG8zkYKiFBP1WN334Q&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Idali Sambhar</h5>
              <p class="card-text">Idli Sambar is a hearty, satisfying, comforting and a healthy meal of soft fluffy idlis served with savory.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJxItl6Bw8aQdHyX1Ftql-nrc5xBnzf4zhoQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sandwich</h5>
              <p class="card-text">It consisting of vegetables, sliced cheese or meat, placed on or between slices of bread.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://www.healthkart.com/connect/wp-content/uploads/2021/11/900x500_banner_HK-Connect_5-Best-Morning-Juices-for-Working-People.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fruits juice</h5>
              <p class="card-text">Juice is a drink made from the extraction or pressing of the natural liquid contained in fruit and vegetables.</p>
              <a href="#" class="btn btn-primary">Place Order</a>
            </div>
          </div>

    </div>
  </div>