<div>
<p>test2 works!</p>
<h2>String interpolation Data binding</h2>
<h4>My age is {{age}}</h4>
<h4>My address is {{adress}}</h4>
<h4>{{pinCode}}</h4>
<hr>

<h2>Property Data binding</h2>
<img [src]="imageUrl" alt="">
<hr>

<h2>Event Data binding</h2>
<button (click)="onButtonClick()">Click me</button>  {{data}}


<h3>Count value is : {{count}}</h3>
<button (click)="buttonIncreaseValue()">Click to increase value</button><br><br>
<input type="text" (keyup)="valueKeyUp($event)"> &nbsp;&nbsp;&nbsp;&nbsp;<label>{{inputData}}</label>
<hr>
<h2>Two way Data binding</h2>
<input type="text" [(ngModel)]="firstName"> &nbsp;&nbsp;&nbsp;{{firstName}}
<hr>
<h2>Two Data binding Assignment</h2>
<input type="text" [(ngModel)]="userName">
<p>User name is {{userName}}</p>
<button (click)="clearText()">Reset Textbox</button>
</div><hr>
<div>
    <h2>BootStrap is installed </h2>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
</div>