<p>fashion works!</p>

<div>
    <div class="col-md-12">
        <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjs9VF7P_gkcxIYQeV6nSrC_NjAWkXRKKwUw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mens Fashion </h5>
              <p class="card-text">Mens'Fashion:Shop for Mens' Clothing online at best prices. Choose from a wide range of Men' Clothing.</p>
              <a routerLink="men" class="btn btn-primary">Men's Clothing</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToO3NSWGS7zLUL-x4TIq5muVkqbrmlHsi2UN9id4rcApnXuuPAgvTzxkdwloFGkqJdcA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Womens Fashion</h5>
              <p class="card-text">Womens'Fashion:Shop for womens' Clothing online at best prices. Choose from a wide range of Clothing.</p>
              <a routerLink="women" class="btn btn-primary">Women's Clothing</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuAfBRKwuV-0PvkpGy9ffoK5k8ujUojkpg8EobLN3y5ML0UhC1PoBh-x6KQ8Z7XD6zZ3U&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Childrens Fashoin</h5>
              <p class="card-text">Childrens'Fashion:Shop for Child' Clothing online at best prices. Choose from a wide range of child' Clothing..</p>
              <a routerLink="children" class="btn btn-primary">Children's Clothing</a>
            </div>
          </div>
    </div>
    
</div>