<p>contactus works!</p>
<input type="text" #searchVal>
<button (click)="searchData(searchVal)">Search WikiPedia</button>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>WordCount</th>
            <th>Snippet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of givenData.query.search">
            <td>{{data.title}}</td>
            <td>{{data.wordcount}}</td>
            <td>{{data.snippet}}</td>
        </tr>
    </tbody>
</table>