<br><br><br>
<a routerLink="/mycart"><h5 style="margin-left: 700px;">My Cart : {{cartCount}}</h5></a>
<div class="row">
    <h1>Electronic Products</h1>
    <div class="col-md-12">
    </div>
      <div class="col-md-6">
          <div class="card" >
              <img class="card-img-top" src="../../assets/images/laptop.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">This is Laptop and easy to handle.</p>
                <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
              </div>
          </div>
          <div class="card" >
              <img class="card-img-top" src="../../assets/images/mobile.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mobile</h5>
                <p class="card-text">Mobile is widely used electronic device.</p>
                <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
              </div>
          </div>
          <div class="card" >
              <img class="card-img-top" src="../../assets/images/camera.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Camera</h5>
                <p class="card-text">Camera is used to capture the picture.</p>
                <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
              </div>
          </div>
          <div class="card" >
              <img class="card-img-top" src="../../assets/images/watch.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Watch</h5>
                <p class="card-text">watch is used to do work in time.</p>
                <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
              </div>
          </div>
      </div>
  </div>
