<p>mens works!</p>

<div>
    <div class="col-md-12">

        <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdVGWF2lZNJPzt0fWhOmwZLkEyUvbk0sl19g&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9tMV7O4UoLsk-MJEcJim2gvS8cVuRHEgquQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa30agsUoRrD47HnW_YiWRjDAhusbkzjCMNQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">Rs.400</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Dz_ZEk-2DcnP4qCIPUD9HHqNFiORdm--OA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kurta</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZbDh-9Vy0tKjDj0NNvp_thXHfiGSe0hkvgGftNPyjm8ZfWrL9cesf9SBs_Zi5UN3T3eo&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.600</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz9A2aZN2vjk8vgrembpK_TeWvjQ5AEa1JVw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnzkL5vGWgTZKnVDPBzskYoCbXsrJ9k2zAjA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Dz_ZEk-2DcnP4qCIPUD9HHqNFiORdm--OA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kurta</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZbDh-9Vy0tKjDj0NNvp_thXHfiGSe0hkvgGftNPyjm8ZfWrL9cesf9SBs_Zi5UN3T3eo&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.600</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnzkL5vGWgTZKnVDPBzskYoCbXsrJ9k2zAjA&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdVGWF2lZNJPzt0fWhOmwZLkEyUvbk0sl19g&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa30agsUoRrD47HnW_YiWRjDAhusbkzjCMNQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">Rs.400</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9tMV7O4UoLsk-MJEcJim2gvS8cVuRHEgquQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz9A2aZN2vjk8vgrembpK_TeWvjQ5AEa1JVw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

    </div>
  </div>