.bgcolor{
    background-color: burlywood;
}

ul li:hover{
    border: solid 2px blue;
    box-shadow: 5px 5px 2px red;
}
/* .background{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_452981.jpg);
    background-size: cover;

    background-repeat: no-repeat;  
} */