.bgcolor{
    background-color: burlywood;
}

ul li:hover{
    border: solid 2px blue;
    box-shadow: 5px 5px 2px red;
}

.container {
    width: 180px;
    height: 600px;
    overflow-y: scroll;
    transform: rotate(-90deg);
  }
  
  .content {
    width: 140px;
    height: 140px;
    margin: 10px;
    background-color: #a8a8df;
    transform: rotate(90deg);
  }