<p class="bgcolor">This is our first custom component</p>

<ul>
    <li>Pandurang</li>
    <li>dattaraj</li>
    <li>sandesh</li>
    <li>avinash</li>
    <li>prem</li>
    <li>shubham</li>
</ul>

<!-- <div class="background">
   <pre>
    essay, an analytic, interpretative, or critical literary composition usually 
     shorter and less systematic and formal than a dissertation or thesis and usually 



     dealing with its subject from a limited and often personal point of view.
   </pre>
</div> -->