<p class="bgcolor">This is our first custom component</p>

<ul>
    <li>Pandurang</li>
    <li>dattaraj</li>
    <li>sandesh</li>
    <li>avinash</li>
    <li>prem</li>
    <li>shubham</li>
</ul>

<div class="container" >
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
  <img class="content" src="https://img.freepik.com/premium-vector/abstract-blue-white-wave-background-illustrations-templates_41084-528.jpg?w=2000" width="500px" height="250px" alt="">
</div>

