<p>childrens works!</p>

<div>
    <div class="col-md-12">

        <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_d0I5fO7hByX5Yt3WcEaKsEgVwGDW9BQg6yrvfOH5jX2uOyfAeflYP7NdvU0S4Tuo92Y&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkZmEht23mKSVhDmjWsbb_D5j4ExS8rWSJ0g&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnbNq56kdle4j5HKvRUHQ7LmeoPOr1w7T4YQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">Rs.400</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9AVgZjriwyWPMuv-qyc1jNQzcnb41_IUxvw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt Pant</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf4lcZH-mGBWAFtZphqzG47i__CUu-oJcpag&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.600</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLYA7zOcOonEXG00oEm-h0UkuxkMxccGAVBg&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbQic80Oy9zkIeNO3UK_GvhpVqvTbTWBw8-ZK-N1-6KPSJ-npNyrlZoXtL8VTuHCwZo6s&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9AVgZjriwyWPMuv-qyc1jNQzcnb41_IUxvw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt Pant</h5>
              <p class="card-text">Rs.2500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbQic80Oy9zkIeNO3UK_GvhpVqvTbTWBw8-ZK-N1-6KPSJ-npNyrlZoXtL8VTuHCwZo6s&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Shirt</h5>
              <p class="card-text">Rs.1000</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf4lcZH-mGBWAFtZphqzG47i__CUu-oJcpag&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.600</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_d0I5fO7hByX5Yt3WcEaKsEgVwGDW9BQg6yrvfOH5jX2uOyfAeflYP7NdvU0S4Tuo92Y&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.800</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLYA7zOcOonEXG00oEm-h0UkuxkMxccGAVBg&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T- Shirt</h5>
              <p class="card-text">Rs.700</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkZmEht23mKSVhDmjWsbb_D5j4ExS8rWSJ0g&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Casual shirt</h5>
              <p class="card-text">Rs.500</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

          <div class="card" style="width: 11rem;" class="inlineblock">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnbNq56kdle4j5HKvRUHQ7LmeoPOr1w7T4YQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">Rs.400</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>

    </div>
  </div>