<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search" class="navbar-nav me-auto mb-2 mb-lg-0">
        <label for="" class="font">realfunnel</label>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">  
        </form>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ArKQ5AIUqacA-5ofQ5nfPevwR0RtI7PBtg&usqp=CAU"  alt="user image">
      </div>
    </div>
</nav>