<p>userdetails works!</p>
<ul>
    <li>Id: <strong>{{userDetails.id}}</strong></li>
    <li>Name:<strong>{{userDetails.name}}</strong></li>
    <li>User Name:<strong>{{userDetails.username}}</strong></li>
    <li>Email:<strong>{{userDetails.email}}</strong></li>
    <li>Adress:</li>
        <ul>
            <li>Street:<strong>{{userDetails.address.street}}</strong></li>
            <li>Suite:<strong>{{userDetails.address.suite}}</strong></li>
            <li>city:<strong>{{userDetails.address.city}}</strong></li>
            <li>Zip Code:<strong>{{userDetails.address.zipcode}}</strong></li>
            <li>Lattitude:<strong>{{userDetails.address.geo.lat}}</strong></li>
            <li>Longitude:<strong>{{userDetails.address.geo.lng}}</strong></li>
        </ul>
    <li>Phone:<strong>{{userDetails.phone}}</strong></li>
    <li>Website:<strong>{{userDetails.website}}</strong></li>
    <li>Company:</li>
         <ul>
            <li>Company Name:<strong>{{userDetails.company.name}}</strong></li>
            <li>catchphrase:<strong>{{userDetails.company.catchPhrase}}</strong></li>
            <li>BS:<strong>{{userDetails.company.bs}}</strong></li>
         </ul>
</ul>














