<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
  Welcome to {{ title }}! {{name}}
  </h1>
 
  <h4>
    Empolyee count :{{empCount}}
  </h4>
  <app-demo></app-demo>
  <app-test1></app-test1>
  
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->

<!-- <app-test2 [child]="parentData" (fromChild)="onParent($event)" (objFromChild)="objParent($event)" (empObjDeco)="showEmpObj($event)"></app-test2> -->
<!-- 
<app-card [image]="arrayofData[0].image" [titleData]="arrayofData[0].titleData" [description]="arrayofData[0].description"></app-card>
<app-card [image]="arrayofData[1].image" [titleData]="arrayofData[1].titleData" [description]="arrayofData[1].description"></app-card><hr>
<app-ngfor></app-ngfor>
<app-countrystatedropdown></app-countrystatedropdown>
<app-ngif></app-ngif>
<hr>

<app-ngswitch></app-ngswitch>

<h2>Custum directive:-</h2>
<h4>we are apply the CSS properties by using custom directive on following paragraph</h4>
<p appCustom>This is my paragraph</p>
<hr>
<h2>learing about Angular Material</h2>
<mat-slide-toggle>Toggle me!</mat-slide-toggle><br>
<mat-slider min="1" max="5" step="0.5" value="1.5">
  <input matSliderThumb>
</mat-slider>
<mat-spinner></mat-spinner>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<app-templateform></app-templateform>
<app-registrationform></app-registrationform>
<app-reactiveform></app-reactiveform>
<app-reactiveformassign></app-reactiveformassign>
<app-reactiveformassign2></app-reactiveformassign2>
<ng-container *ngFor="let p of products">
  product Name:<strong class="text-success">{{p.name}}</strong>
  product Id:<strong class="text-success">{{p.id}}</strong>
</ng-container>



 <app-pipeexample></app-pipeexample> 
<app-productfilter></app-productfilter>
 <app-serviceusingdi></app-serviceusingdi>  

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <app-comp1></app-comp1>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <app-comp2></app-comp2>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <app-comp3></app-comp3>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <app-comp4></app-comp4>
      </div>
    </div>
  </div>
</div> -->

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-items"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">About Us</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">Contact Us</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/product" class="nav-link">Products</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/post" class="nav-link">Post</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/users" class="nav-link">Users</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/order" class="nav-link">Order</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Fashion</a></li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/customer" class="nav-link">Cutomer</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/wiki" class="nav-link">Wikipedia</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/electronics" class="nav-link">Electronics</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/adduser" class="nav-link">Add User</a> </li>
    </ul>
  </nav>
</header>



<router-outlet></router-outlet>